@import "util/constants.scss";

.about-page {
  padding: 0 11.1% 0 11.1%;

  .about-title {
    font-size: 46px;
    color: $black;
    letter-spacing: 1.61px;
  }

  .content {
    float: left;
    width: 50%;
    font-size: 18px;
    color: $gray;
    letter-spacing: 0.63px;
    line-height: 25px;
    text-align: left;

    p {
      margin-top: 0;
    }
  }

  .images {
    float: left;
    width: 50%;
    text-align: right;

    .image-large {
      width: 500px;
      height: 375px;
      margin: auto;
      margin-bottom: 20px;
    }

    .image-small {
      width: 240px;
      height: 181px;
    }

    .image-small:last-of-type {
      margin-left: 20px;
    }
  }
}
