$purple: #8367d8;
$lightPurple: #c4bfd6;
$white: #ffffff;
$lightWhite: #fcfcfc;
$lightGray2: #d8d8d8;
$lightGray: #fafafa;
$shadowGray: #dadada;
$gray: #9b9b9b;
$black: #252525;

$tiny: 375px;
$small: 425px;
$medium: 768px;
$large: 1024px;
