@import "util/style/constants.scss";

.home {
  .top {
    background: $lightGray;

    .featured-product {
      text-align: center;
      .featured-product-name {
        font-size: 46px;
        color: $black;
        letter-spacing: 1.61px;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      .featured-product-price {
        font-size: 24px;
        color: $purple;
        letter-spacing: 0.84px;
        margin: 0 0 0 0;
      }

      .featured-product-desc {
        font-size: 16px;
        color: $black;
        letter-spacing: 0.56px;
        line-height: 22px;
        margin: 10px;
      }

      .bid-now-button {
        background: $white;
        border: 3px solid $purple;
        box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
        font-weight: bold;
        font-family: "Lato";
        font-size: 18px;
        color: $black;
        letter-spacing: 0.63px;
        padding: 10px 40px 10px 40px;
        cursor: pointer;
      }
    }

    .featured-product-image {
      text-align: center;
      img {
        margin: 10px 0 0 0;
        height: 300px;
        min-width: 300px;
        border: 0.5px solid $gray;
        box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
      }
    }
  }

  @media screen and (min-width: $medium) {
    .top {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .categories {
        margin-left: 50px;
      }

      .featured-product {
        .featured-product-name {
          font-size: 40px;
        }

        .featured-product-price {
          font-size: 20px;
        }

        .featured-product-desc {
          font-size: 15px;
        }
      }

      .featured-product-image {
        img {
          margin: 30px 0 0 20px;
          height: 200px;
          min-width: 200px;
          border: 0.5px solid $gray;
          box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
        }
      }
    }
  }

  @media screen and (min-width: 1320px) {
    .top {
      height: 400px;
      display: grid;
      grid-template-columns: 30% 30% 40%;

      .categories {
        margin-left: 35%;
        margin-right: 50px;
      }

      .featured-product {
        padding-right: 20px;
      }

      .featured-product-image {
        img {
          margin: 30px 0 0 20px;
          height: 300px;
          min-width: 300px;
          border: 0.5px solid $gray;
          box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
        }
      }
    }

    .featured-collections {
      clear: both;
    }
  }
}
