@import "util/style/constants.scss";

.home {
  .title-line {
    height: 1px;
    background: $gray;
    margin-bottom: 15px;
  }
  .top {
    background: $lightGray;
    max-width: 100%;
    .featured-product {
      margin-left: 30px;
      .featured-product-name {
        font-size: 46px;
        color: $black;
        letter-spacing: 1.61px;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      .featured-product-price {
        font-size: 24px;
        color: $purple;
        letter-spacing: 0.84px;
        margin: 0;
      }

      .featured-product-desc {
        font-size: 16px;
        color: $black;
        letter-spacing: 0.56px;
        line-height: 22px;
        margin-top: 10px;
      }

      .bid-now-button {
        background: $white;
        border: 3px solid $purple;
        box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
        font-weight: bold;
        font-size: 18px;
        color: $black;
        letter-spacing: 0.63px;
        padding: 10px 40px 10px 40px;
        cursor: pointer;
      }

      .bid-now-button:focus {
        outline: transparent;
      }
    }

    .featured-product-image {
      text-align: left;
      img {
        margin: 20px 0px 0 30px;
        height: 300px;
        min-width: 350px;
      }
    }
  }

  .home-main {
    padding: 0px 30px 0px 30px;
    margin: auto;
  }

  .title {
    margin-left: 20px;
    box-sizing: border-box;
    font-size: 28px;
    color: $black;
    letter-spacing: 0.98px;
    margin-bottom: 15px;
  }

  .featured-collections {
    text-align: center;
    margin: auto;
  }

  .featured-products {
    text-align: center;
  }

  .bottom {
    text-align: center;
    button {
      margin-right: 15px;
      font-size: 28px;
      color: $black;
      letter-spacing: 0.98px;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0 0 15px 0;
      box-sizing: border-box;
    }

    button:focus {
      outline: transparent;
      border-bottom: 2px solid $purple;
    }

    .button-bar {
      box-sizing: border-box;
      border-bottom: 1px solid $purple;
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: $medium) {
    .top {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .categories {
        margin-left: 50px;
      }

      .featured-product {
        .featured-product-name {
          font-size: 40px;
        }

        .featured-product-price {
          font-size: 20px;
        }

        .featured-product-desc {
          font-size: 15px;
        }
      }

      .featured-product-image {
        text-align: left;
        img {
          margin: 0 0 0 20px;
          height: 200px;
          min-width: 200px;
        }
      }
    }

    .featured-collections {
      text-align: left;
    }

    .featured-products {
      text-align: left;
    }

    .bottom {
      text-align: left;
    }
  }

  @media screen and (min-width: 1300px) {
    .home-main {
      padding: 0px 15% 0px 15%;
    }
    .top {
      height: 400px;
      display: grid;
      grid-template-columns: 5% 30% 30% 30% 5%;

      .categories {
        grid-column: 2 / 3;
        margin-left: 35%;
        margin-right: 50px;
      }

      .featured-product {
        grid-column: 3 / 4;
        text-align: left;
        padding-right: 20px;
        .featured-product-title {
          font-size: 46px;
        }

        .featured-product-price {
          font-size: 24px;
        }

        .featured-product-desc {
          margin-left: 0;
          font-size: 16px;
        }
      }

      .featured-product-image {
        grid-column: 4 / 5;
        img {
          margin: 10px 0 0 20px;
          height: 300px;
          min-width: 300px;
        }
      }
    }

    .title {
      margin-left: 10px;
    }
  }

  @media screen and (min-width: 1400px) {
    .top {
      .featured-product {
        margin-left: 0;
      }
    }
  }
}
