$purple: #8367d8;
$lightPurple: #c4bfd6;
$white: #ffffff;
$lightWhite: #fcfcfc;
$lightGray2: #d8d8d8;
$lightGray: #f7f4f4;
$lightGray3: #ececec;
$gray2: #f0f0f0;
$shadowGray: #dadada;
$gray: #9b9b9b;
$black: #252525;
$offWhite: #e3e3e3;

$red: #cd5542;
$darkRed: #6e0101;

$green: #6cc047;
$darkGreen: #254401;

$yellow: #ebc766;
$darkYellow: #5f3900;

$tiny: 375px;
$small: 425px;
$medium: 768px;
$large: 1024px;
