@import "../../util/constants.scss";

#privacy-content {
  margin: auto;
  width: 700px;
  font-size: 18px;
  color: $gray;
  letter-spacing: 0.63px;
  line-height: 25px;

  #privacy-content-title {
    font-size: 46px;
    color: $black;
    letter-spacing: 1.61px;
  }

  #privacy-content-subtitle {
    font-size: 24px;
    color: $black;
    letter-spacing: 0.84px;
  }
}
