@import "util/style/constants.scss";

.footer {
  background-color: $black;
  height: 356px;
  text-align: center;
  color: $white;
  letter-spacing: 0.56px;
  font-size: 16px;
  margin-top: 5%;
  display: grid;

  p {
    opacity: 0.5;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
    }
  }

  .content-left {
    margin: 4% 0 0 30%;
    text-align: left;
  }

  .content-right {
    margin: 4% 0 0 30%;
    text-align: left;
  }

  @media screen and (min-width: $medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .content-left {
      margin: 4% 0 0 30%;
    }
    .content-right {
      margin: 4% 30% 0 0;
    }
  }

  @media screen and (min-width: $large) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .content-left {
      margin: 4% 0 0 60%;
    }
    .content-right {
      margin: 4% 30% 0 10%;
    }
  }
}
