#content {
  margin: auto;
  width: 700px;
  font-size: 18px;
  color: #9b9b9b;
  letter-spacing: 0.63px;
  line-height: 25px;
}

#content-title {
  font-size: 46px;
  color: #252525;
  letter-spacing: 1.61px;
}

#content-subtitle {
  font-size: 24px;
  color: #252525;
  letter-spacing: 0.84px;
}
