@import "util/style/constants.scss";

.grid {
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (min-width: $medium) {
    grid-template-columns: repeat(3, 1fr);

    &.col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
