@import "util/style/constants.scss";

.search-bar {
  padding-left: 11.1%;
  padding-right: 11.1%;
  height: 80px;
  text-align: center;

  .search-input {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-bottom: 15px;
    form {
      input {
        background: $white;
        border: 1px solid $lightGray2;
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.08);
        padding: 4px;
        &:focus {
          outline: transparent;
        }
      }
      .search-button {
        background: transparent;
        border: transparent;
        font-size: 22px;
        cursor: pointer;
        margin-left: -35px;
        position: absolute;
        margin-top: 5px;
        color: $purple;
        &:focus {
          outline: transparent;
        }
      }
    }
  }

  .search-bar-title {
    font-size: 24px;
    letter-spacing: 0.84px;
    font-weight: lighter;
    margin-top: 20px;
    text-align: left;

    .search-bar-title-icon {
      margin-bottom: 2px;
      color: $lightPurple;
    }

    p {
      display: inline;
      margin-left: 10px;
      color: $purple;
    }
  }

  .search-bar-links {
    text-decoration: none;
    margin-top: 10px;

    ul {
      list-style: none;
      text-align: right;

      li {
        display: inline;
        margin-right: 10px;

        .search-bar-link {
          text-decoration: none;
          color: $black;
          font-weight: lighter;
          letter-spacing: 0.56px;
          font-size: 16px;
        }
      }

      li :last-of-type {
        margin-right: 0px;
      }
    }
  }

  @media screen and (max-width: $small) {
    height: 130px;
    text-align: center;
    .search-input {
      form {
        input {
          width: 200px;
        }
      }
    }
    .search-bar-links {
      ul {
        text-align: center;
        margin-right: 5%;
        li {
          display: block;
          margin-bottom: 2px;
        }
      }
    }
  }

  @media screen and (min-width: $medium) {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    .search-input {
      form {
        input {
          width: 400px;
          height: 30px;
        }
      }
    }
    // .search-bar-title {
    //   float: left;
    // }

    // .search-bar-links {
    //   float: right;
    // }
  }
}
