@import "util/style/constants.scss";

.search-bar {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 1fr;
  gap: 0px 1em;
  .search-bar-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    letter-spacing: 0.84px;
    font-weight: lighter;

    .search-bar-title-icon {
      margin-bottom: 2px;
      color: $lightPurple;
    }

    p {
      display: inline;
      color: $purple;
    }
  }

  .search-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    form {
      position: relative;
      input {
        background: $white;
        border: 1px solid $lightGray2;
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.08);
        padding: 10px 25px 10px 5px;
        &:focus {
          outline: transparent;
        }
      }
      .search-button {
        margin-left: -35px;
        position: absolute;
        top: 0;
        bottom: 0;
        background: transparent;
        border: transparent;
        font-size: 18px;
        cursor: pointer;
        color: $purple;
        &:focus {
          outline: transparent;
        }
      }
    }
  }

  .search-bar-links {
    grid-column: 1 / -1;
    text-decoration: none;
    text-align: center;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline;
        margin-right: 10px;

        .search-bar-link {
          text-decoration: none;
          color: $black;
          font-weight: lighter;
          letter-spacing: 0.56px;
          font-size: 16px;
          &:hover,
          &:focus {
            color: $gray;
          }
        }
      }

      li :last-of-type {
        margin-right: 0px;
      }

      .dropdown-container {
        display: inline-block;
        position: relative;
      }
    }
  }

  @media screen and (min-width: $medium) {
    grid-template-columns: 5% 25% 25% 40% 5%;
    grid-template-rows: 1fr;
    gap: 0;
    .search-bar-title {
      grid-column: 2 / 3;
      justify-content: flex-start;
    }
    .search-input {
      grid-column: 3 / 4;
      justify-content: center;
      form {
        input {
          padding: 10px 10px;
        }
        .search-button {
          font-size: 1.2rem;
        }
      }
    }
    .search-bar-links {
      grid-column: 4 / 5;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  @media screen and (min-width: $large) {
    grid-template-columns: 11% 25% 25% 29% 11%;
    .search-input {
      form {
        input {
          padding: 1em 10em 1em 0.5em;
        }
        .search-button {
          font-size: 1.2rem;
        }
      }
    }
  }
}
