@import "util/style/constants.scss";

.navbar-black {
  background: $black;
  height: 40px;
  color: $white;
  width: 100%;

  .navbar-socials {
    float: left;
    margin: 0.6% 0 0 11.1%;
  }

  .navbar-links {
    float: right;
    margin: 0.6% 11.1% 0 0;
    text-align: center;

    ul {
      list-style: none;
      margin: 0;

      li {
        float: left;
        margin: 0 10px 0 10px;
        font-size: 14px;
        color: $gray;
        letter-spacing: 0.49px;

        .logout-button {
          background-color: transparent;
          border: none;
          cursor: pointer;
        }

        .logout-button:focus {
          outline: transparent;
        }
      }
    }
  }

  @media screen and (max-width: $medium) {
    .navbar-socials {
      margin: 2% 0 0 5%;
    }
    .navbar-links {
      margin: 2% 5% 0 0;
    }
  }

  @media screen and (max-width: $small) {
    .navbar-links {
      float: left;
    }
  }

  @media screen and (max-width: $tiny) {
    height: 60px;

    .navbar-socials {
      clear: both;
      margin-left: 35%;
    }

    .navbar-links {
      clear: both;
      margin-left: 6%;
    }
  }
}
