@import "../../../util/constants.scss";

#navbar-black {
  background: $black;
  height: 40px;
  color: $white;

  #navbar-socials {
    float: left;
    margin: 0.6% 0 0 11.1%;
  }

  #navbar-links {
    float: right;
    margin: 0.6% 11.1% 0 0;
    text-align: center;

    ul {
      list-style: none;
      margin: 0;

      li {
        float: left;
        margin: 0 10px 0 10px;
        font-size: 14px;
        color: $gray;
        letter-spacing: 0.49px;
      }
    }
  }
}
