@import "util/constants.scss";

.breadcrumb-bar {
  text-transform: uppercase;
  color: $black;
  padding: 0 11.1% 0 11.1%;
  height: 60px;
  background: $lightGray;

  div {
    padding-top: 1.5%;
  }

  .current {
    font-size: 18px;
    letter-spacing: 0.63px;
    float: left;
  }

  .breadcrumb {
    float: right;

    p {
      font-size: 16px;
      letter-spacing: 0.56px;
      font-weight: lighter;
      display: inline;
      margin-right: 10px;
    }

    :last-child {
      font-weight: normal;
    }
  }
}
