@import "util/style/constants.scss";

.breadcrumb-bar {
  text-transform: uppercase;
  color: $black;
  padding: 10px 11.1% 10px 11.1%;
  height: fit-content;
  background: $lightGray;
  text-align: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .current {
    font-size: 16px;
    letter-spacing: 0.63px;
  }

  .breadcrumb {
    display: none;
    p {
      font-size: 16px;
      letter-spacing: 0.56px;
      font-weight: lighter;
      display: inline;
      margin: 0;
    }

    :last-child {
      font-weight: normal;
    }
  }

  .did-you-mean {
    text-transform: initial;
    font-size: 16px;
    color: $gray;
    letter-spacing: 0.63px;

    a {
      cursor: pointer;
      color: $purple;
      margin-left: 7px;
    }
  }

  @media screen and (min-width: 600px) {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-auto-flow: dense;
    padding-top: 10px;
    padding-bottom: 10px;

    div {
      min-height: 40px;
    }

    .breadcrumb {
      display: unset;
    }

    .did-you-mean {
      grid-column: 2 / 3;
    }
  }

  @media screen and (min-width: $large) {
    padding-left: 11.1%;
    padding-right: 11.1%;
    padding-top: 0;
    padding-bottom: 0;
    .current {
      justify-content: flex-start;
    }
    .breadcrumb {
      display: flex;
      justify-content: flex-end;
    }
  }
}
