#not-found {
  font-size: 300px;
  color: #8367d8;
  letter-spacing: 10.5px;
  text-shadow: 8px 10px 0 #dadada;
  margin: 0;
}

#title {
  color: #c4bfd6;
  font-weight: lighter;
}

#title-text {
  font-size: 24px;
  letter-spacing: 0.84px;
  display: inline;
  margin-left: 10px;
  color: #8367d8;
}

#title-icon {
  margin-bottom: 5px;
}

#text {
  font-size: 36px;
  color: #252525;
  letter-spacing: 1.26px;
  margin-top: 10px;
}

#content {
  text-align: center;
}

#back-button {
  background: #ffffff;
  border: 3px solid #8367d8;
  box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
  width: 179px;
  height: 57px;
  font-size: 18px;
  font-weight: bold;
  color: #252525;
  letter-spacing: 0.63px;
}
